* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    color: #121333;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
}

.container {
    width: calc(100% - 131.8px);
    margin: auto;

}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}